*,
*::after,
*::before {
    font-family: sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

html {
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 2rem auto;
}

h1 {
    text-align: center;
}

#quotes {
    text-align: center;
}


/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

div, #nav_bar ul {
    list-style-type: none;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    width: 100%;
    text-align: center;
    z-index: 100;

    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    color: #bc2e1e;
    background: #edde9c;
    font-size: large;

}

/* Recipe page*/

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.food_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.food_image--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.food_image--2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.food_image--3 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
}

.food_image--4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
}

.food_image--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.food_image--6 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.food_image--7 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 2;
}

.food_image--8 {
    grid-column: 7 / span 2;
    grid-row: 3 / span 2;
}

.food_image--9 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
}

.food_image--10 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
}

.food_image--11 {
    grid-column: 5 / span 2;
    grid-row: 5 / span 2;
}

.food_image--12 {
    grid-column: 7 / span 2;
    grid-row: 5 / span 2;
}

.food_image--13 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
}

.food_image--14 {
    grid-column: 3 / span 2;
    grid-row: 7 / span 2;
}

.food_image--15 {
    grid-column: 5 / span 2;
    grid-row: 7 / span 2;
}

.food_image--16 {
    grid-column: 7 / span 2;
    grid-row: 7 / span 2;
}

/* Navigation bar */
#nav_bar a:hover {
    background-color: rgba(139, 70, 70, 0.733);
    color: black;
    border-radius: 5px;
}

#nav_bar a:active {
    background-color: #e972d9;
    color: white;
}

/* Textarea */
textarea {
    -webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    z-index: -1;
    position: relative;
}

#myButton {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    padding: 8px;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.myButton:hover {
    background: #1C6EA4;
}

.myButton:active {
    background: #144E75;
}

input[type="text"] {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}

label {
    display: inline-block;
    width: 125px;
}



@media screen and (max-width: 800px) {
    .large {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .large {
        flex: 100%;
        max-width: 100%;
    }
}